.hero-section {
    background-image: url("/assets/img/header.png");
    padding-top: 1rem;
    padding-bottom: 19rem;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.hero-section nav {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 6rem;
    font-family: "Consolas";
    font-style: italic;
}

.hero-section h1 {
    font-size: 5.5rem;
    font-style: italic;
    line-height: 2.5rem;
    margin-bottom: 45px;
    font-family: "Consolas";
}

.hero-section p {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 3rem;
    font-family: "Consolas";
    font-style: italic;
}
